


.menu-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 0.5em 2em;
}

.menu-item p {
  text-align: center;
}

.menu-img {
  width: 100%;
  max-width: 250px;
  margin: auto;
  display: block;
  border: solid 1px black;
}

ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}
