@font-face {
  font-family: 'Montserrat';
  src: url(../../fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url(../../fonts/Roboto-Regular.ttf) format('truetype');
}


* {
  box-sizing: border-box;
}

:root {
  --black: #000;
  --white: #F6F6F7;
  --pink: #FACBEA;
  --beige: #FFE4D6;
  --dark-purple: #36151e;
  --magenta: #B0578D;
  --persian-pink: #D988B9;
  --red: #ce263cf6;
}

body {
  font-family: 'Agbalumo', 'Montserrat', 'Roboto', 'Verdana', sans-serif;
  margin: 0;
}

body:has(dialog[open]) {
    overflow-y: hidden;
}


.container {
  display: grid;
  grid-template-columns: 100px 1fr;
  position: relative;
  margin: 0 auto;
  max-width: 1280px;
}

.nav {
  background-color: var(--pink);
  display: grid;
  grid-template-rows: repeat(11, 1fr);
}

.nav-item {
  text-align: center;
  padding-top: 10px;
  height: auto;
}

#profile-icon {
  grid-row-start: 10;
  grid-row-end: 11;
}

#shopping-cart-icon {
  grid-row-start: 11;
  grid-row-end: 12;
}

.nav-img {
  height: 65px;
  width:65px;
  justify-content: space-evenly;
}

main {
  background-color: var(--beige);
}

.menu-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0.5em 2em;
}

h2 {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

.menu-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.menu-item p {
  text-align: center;
}

.menu-img {
  width: 100%;
  max-width: 250px;
  margin: auto;
  display: block;
  border: solid 1px black;
}

ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

dialog {
  background-color: var(--beige);
  position: absolute;
  /* border: none; */
  border-radius: 8px;
  padding: 1em;
  min-width: 700px;
  min-height: 800px;
  margin: auto;
}

dialog::backdrop {
  background-color: #36151e;
}

dialog .menu-img {
  max-width: 400px;
}

@media screen and (max-height: 800px) {
  dialog {
    min-width: 650px;
    min-height: 650px;
  }
}

.button {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 0.75em;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--dark-purple);
  background-color: var(--pink);
  border-radius: 8px;
  transition-duration: 0.4s;
  font-size: 1em;
}

/* mouse over link */
button:hover, input[type="submit"]:hover {
  background-color: hsl(320, 82%, 89%, 0.5);
}


dialog .product-info {
  font-size: 1.5em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-auto-rows: auto;
}

.product-info h2 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.product-info .menu-item {
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.product-info .quantity-container {
  grid-column: 1/2;
  grid-row: 3/4;
  padding-bottom: 1.5em;
  display: grid;
}

.quantity-container > * {
  justify-self: center;
  align-self: center;
}

.product-info .buttons {
  grid-column: 1/2;
  grid-row: 4/5;
  display: flex;
  gap: 0.5em;
}

#back-btn, #addtocart-btn {
  padding: 0.75em;
}


@media screen and (max-width: 640px) {
  .product-info .buttons {
    flex-wrap: wrap-reverse;
  }
}


.quantity {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  justify-items: center;
}

.quantity > * {
  justify-self: center;
  align-self: center;
}

#quantity-minus, #quantity-plus {
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.quantity img {
  padding: 3px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quantity .quantity-number {
  text-align: center;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
}

/* LOGIN Dialog */
#login-form {
  display: grid;
  justify-content: center;
}

.required::after {
  content: ' *';
  color: var(--red);
}

/* Hallinta sivut */
/* Login */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-admin{
  padding: 2em;
  border: 1px solid var(--dark-purple);
  border-radius: 8px;
}

.login-admin h2{
  margin: 0;
  margin-bottom: 0.75em;
}

.login-admin form {
  width: 400px;
}

.login-admin .button {
  padding: 0.75em;
}


.form input:invalid {
    border: 1px solid var(--red);
}
input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* admin sivu */
.admin-container {
	display: grid;
	grid-template-columns:repeat(12, minmax(min-content, 10em));
	grid-template-rows: repeat(2, min-content);
	gap: 1em;
}

.admin-nav {
  grid-column: 2 / 12;
  grid-row: 1 / 2;
  border-bottom: 1px solid var(--persian-pink);
  font-family: 'Roboto';
  font-weight: 600;
}

.admin-nav-items {
  display: grid;
  grid-template-columns: repeat(10, minmax(min-content, 10em));
  align-items: center;
}

.sign-out {
  grid-column: 10 / -1;
}

.admin-nav-item button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  padding: 0.7em 0;
  font-weight: inherit;
  text-transform: inherit;
  color: var(--dark-purple);

  transition-duration: 2s;
}

.admin-nav-item a {
  text-decoration: none;
  padding: 0.7em 0;
  display: block;
  color: var(--dark-purple);
  text-align: center;
}

.admin-nav-item a:hover, .admin-nav-item button:hover {
  color: var(--magenta);
}

.admin-nav-item a:active {
  border-bottom: 2px solid var(--magenta);
}

#logo a{
  font-family: Agbalumo;
  font-size: 1.5em;
}

/* admin menu */
.admin-container .menu-container {
  grid-column: 2 / 12;
  grid-row: 2 / 3;
}
